// GLOBAL

@font-face {
  font-family: MullerRegular;
  src: url(./fonts/muller/Fontfabric-Muller-Regular.otf);
}

@font-face {
  font-family: MullerMedium;
  src: url(./fonts/muller/Fontfabric-Muller-Medium.otf);
}

@font-face {
  font-family: MullerLight;
  src: url(./fonts/muller/Fontfabric-Muller-Light.otf);
}

@font-face {
  font-family: MullerBold;
  src: url(./fonts/muller/Fontfabric-Muller-Bold.otf);
}

body {
  margin: 0;

  font-family: "MullerRegular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Muller, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// TABS 

.Mui-selected {
  background: #ffffff !important;
  border: 1px solid #11448f !important;
}

.MuiTabs-indicator {
  background-color: #ffffff !important;
  z-index: 1;
  border-top: 1px solid #11448f !important;
  border-bottom: 1px solid #11448f !important;
  right: 16px !important;
}

// BUTTONS

.MuiButtonBase-root {
  border-radius: 8px !important;
  padding: 0 26px !important;
  font-size: 15px !important;
  line-height: 29px !important;
  margin: 0 8px !important;
  text-transform: none !important;
}