@font-face {
  font-family: MullerRegular;
  src: url(./fonts/muller/Fontfabric-Muller-Regular.otf);
 }

 @font-face {
  font-family: MullerMedium;
  src: url(./fonts/muller/Fontfabric-Muller-Medium.otf);
 }

 @font-face {
  font-family: MullerLight;
  src: url(./fonts/muller/Fontfabric-Muller-Light.otf);
 }

 @font-face {
  font-family: MullerBold;
  src: url(./fonts/muller/Fontfabric-Muller-Bold.otf);
 }
 
 body {
  margin: 0;

  font-family: 'MullerRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Muller, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}